@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Noto+Sans+Thai:wght@300;400;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", "Noto Sans Thai", sans-serif;
  background: linear-gradient(to bottom right, #dddddd, #c8e0f8); 
  background-attachment: fixed;
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px; 
}

h1 {
  font-size: 2px; 
}

p {
  font-size: 15px;
}
