
.container {
  min-height: 80vh;
  background-image: url('/images/6.png'); 
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; 
  display: flex;
  flex-direction: column;
}

.formContainer {
  width: 100%;
  max-width: 1100px;
  background-size: cover;
  background-position: center;
  border-radius: 1.5rem;
  padding: 2rem;
  backdrop-filter: blur(15px); /* ทำให้พื้นหลังเบลอ */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); /* เงาโปร่งใส */
  transition: all 0.3s ease;
}